* {
    font-weight: lighter;
}

body {
    background-color: #67530b;
    margin: auto;
}

h1 {
    font-size: 70px;
    margin: auto;
}

/* buttons selector */
.buttons {
    display: flex;
    justify-content: space-around;
}

/* style for each individual item */
.buttons > div{
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.09s ease-in;
    background-color: #c8a529;
    /* box shadow for moves */
    box-shadow: -2px -2px 4px black inset;
}

.buttons > div:hover {
    background-color: #ffd4c4;
}

.buttons img{
    width: 100px;
    height: 110px;
}

/* Pick move and result containers  */
.pick-move-container, .result-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* pick move box and result  */
.pick_move, .result{
    background-color: #A18319;
    border-radius: 6px;
    box-shadow: -2px -2px 4px black inset;
    margin: 5%;
}

.result {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-size: 30px;
}

.pick_move {
    width: 300px;
    height: 80px;
}



/* modal and inner content styles */
.modal-container {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.7);
    box-shadow: 10px 10px 50px 0 black;
}

.modal {
    height: 200px;
    width: 400px;
    background-color: #c8a529;
    /* shadows */
    box-shadow: 10px 10px 50px 0 black;
}

.results {
    list-style-type: none;
    margin: auto;
    padding: 0 10px;
    font-size: 18px;
}

.reset {
    cursor: pointer;
}

/* new modifications to body to accomodate for footer */
body {
    display: flex;
    flex-direction: column;
}

/* utility classes */
.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}